@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  padding-top: 90px;
}

a { text-decoration: none; }
img { max-width: 100%; }
