footer {
  background: #4a4949;
  padding: 50px 0;
  color: azure;
}

footer .blocks {
  display: flex;
  justify-content: space-between;
}

footer .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
  color: azure;          /* ДОБАВЬ */
  display: inline-block; /* ДОБАВЬ */
}

footer .blocks p {
  width: 300px;
  margin: 15px 0;
}

footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .blocks ul { list-style: none; }

footer .blocks ul li {
  margin-top: 7px;
  opacity: 0.8;
}

footer hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: #b3b2b2;
}

footer > p { text-align: center;}

footer .column a[href^="tel"]{
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

footer .column a[href^="tel"]:hover{
  color: #ff7a00;
  text-decoration: underline;
}

footer .column ul li a{
  color: inherit;
  text-decoration: none;
  transition: color .2s ease;
}

footer .column ul li a:hover{
  color: #ff7a00; /* твой оранжевый */
  text-decoration: underline;
}

