@import "base.css";
@import "layout.css";
@import "header.css";
@import "footer.css";

@import "pages-home.css";
@import "pages-about.css";
@import "pages-contacts.css";
@import "pages-catalog.css";

@import "media.css";
@import "pages-products.css";

@import "pages-cart.css";
@import "pages-checkout.css";
@import "pages-profile.css";
@import "auth-profile.css";
@import "pages-auth.css";


@import "pages-modal.css";
@import "pages-admin.css";
@import "pages-admin-orders.css";
@import "mobile-home.css";
.header-search { position: relative; }






/* ===== PAGE TITLE (GLOBAL) ===== */
.page-title{
  margin: 40px 0 30px;
}

.page-title h1{
  font-size: 30px;
  font-weight: 550;   /* или 500 если хочешь еще легче */
  letter-spacing: .3px;
  margin: 0;          /* важно, чтобы не прыгало */
}

.search-suggest{
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.10);
  overflow: hidden;
  z-index: 50;
  border: 1px solid rgba(0,0,0,0.06);
}

.search-suggest__item{
  display: flex;
  gap: 10px;
  padding: 10px 12px;
  cursor: pointer;
  align-items: center;
}

.search-suggest__item:hover,
.search-suggest__item.is-active{
  background: rgba(75,60,255,0.08);
}

.search-suggest__img{
  width: 40px; height: 40px;
  border-radius: 10px;
  background: #f3f3f3;
  object-fit: contain;
  flex: 0 0 40px;
}

.search-suggest__title{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.search-suggest__price{
  font-size: 12px;
  color: #6b6b6b;
  margin-top: 2px;
}

footer .column ul li a{
  color: inherit;
  text-decoration: none;
  transition: color .2s ease;
}

footer .column ul li a:hover{
  color: #ff7a00; /* твой оранжевый */
  text-decoration: underline;
}

footer .column a[href^="tel"]{
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

footer .column a[href^="tel"]:hover{
  color: #ff7a00;
  text-decoration: underline;
}

.page-content {
  padding: 60px 0;
}



.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.info-card {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.info-card h2 {
  margin-bottom: 15px;
}

.info-card ul {
  padding-left: 20px;
  margin: 15px 0;
}

.info-card li {
  margin-bottom: 8px;
}

.info-card.warning {
  border-left: 6px solid #dc7000;
  background: #fff7f0;
}

.muted {
  color: #777;
  font-size: 14px;
}







/* Контентная карточка */
.info-page {
  margin-bottom: 60px;
}

.info-card {
  background: #fff;
  border-radius: 24px;
  padding: 40px 50px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  line-height: 1.7;
  font-size: 16px;
}

.info-card h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 20px;
}

.info-card ul {
  padding-left: 20px;
}

.info-card li {
  margin-bottom: 6px;
}

