.hero-about { position: relative; }

.hero-about .info {
  width: 500px;
  padding: 100px 0;
}

.hero-about .info h1 {
  margin-bottom: 15px;
  font-size: 30px;
}

.hero-about .info .btn {
  background: #DC7000;
  color: bisque;
  border-radius: 50px;
  padding: 15px 30px;
  border: 0;
  transition: all 500ms ease;
  margin-top: 20px;
}

.hero-about .info .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero-about img {
  position: absolute;
  right: -60px;
  top: 0;
}

.work { padding: 80px 0; }

.work h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

.work .blocks {
  display: flex;
  justify-content: space-between;
}

.work .blocks .block {
  width: 25%;
  border-radius: 10px;
  padding: 50px 35px;
  background: #dadada;
}

.work .blocks .block h3 {
  font-size: 20px;
  margin: 20px 0;
}

.work .blocks .block .badge {
  border-radius: 7px;
  padding: 10px 20px;
}

.work .blocks .block .badge.purple { background: #ab1485; color: #fff; }
.work .blocks .block .badge.brown  { background: #9c4545; color: #fff; }
.work .blocks .block .badge.green  { background: #27a73a; color: #fff; }

